<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FireSystemMonitor.Properties.Settings.Conexion" connectionString="Data Source=localhost;Initial Catalog=FireSystemDB;User ID=sa;Password=12345678;Encrypt=False;Column Encryption Setting=Disabled" />
        <add name="Conexion" connectionString="Data Source=localhost;Initial Catalog=FireSystemDB;User ID=sa;Password=12345678;MultipleActiveResultSets=true;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>