<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FireSystemMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FireSystemMonitor.Properties.Settings.Conexion" connectionString="Data Source=localhost;Initial Catalog=FireSystemDB;User ID=sa;Password=12345678;Encrypt=False;Column Encryption Setting=Disabled" />
        <add name="Conexion" connectionString="Data Source=localhost;Initial Catalog=FireSystemDB;User ID=sa;Password=12345678;MultipleActiveResultSets=true;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FireSystemMonitor.Properties.Settings>
            <setting name="SlideShowTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SelectedFacp" serializeAs="String">
                <value>""</value>
            </setting>
        </FireSystemMonitor.Properties.Settings>
    </userSettings>
</configuration>